@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor-primaria: #dc3545; 
  --cor-secundaria: #171717; 
  --cor-terciária: #337CCF; 
  --cor-texto-white: #F5F7F8;
  --cor-texto-black: #0F0F0F; 
  --cor-texto-white: ##F5F7F8; 
  --cor--white: #F5F7F8;
  --ultra-white: #ffff;
}


body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--cor-secundaria);
}

@keyframes upperScale {
	0% {
		transform: scale(0.5);
	}

	100% {
		transform: scale(1);
	}
}
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

/*=================== HEADER ===================*/
.bg-red {
  background-color: #dc3545;
}
.text-white {
  color: var(--cor-texto-white);
}
.fixed {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  padding-right: 2%;
  padding-left: 2%;
}
.navBarMgLeft5 {
  margin-left: 5%;
}
.boxShadow {
  box-shadow:
  0px 6px 11px -3px rgba(255, 255, 255, 0.247)
;
}
.underlineLink {
  transition: border-bottom .5s;
  border-bottom: 2px solid transparent;
}
.underlineLink:hover {
  border-bottom: 2px solid #ffffff
}
#navBar {
  transition: 1s;
}
#navbarNav {
  transition: 1s;
}
#loginBnt {
  text-decoration: none;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  background-color: var(--cor--white);
  color: var(--cor-primaria);
  font-weight: bold;
  margin-right: 20px;
  transition: background-color 0.3s, color 0.3s, border .5s;
  border: 2px solid transparent;
}
#loginBnt:hover {
  background-color: var(--cor-primaria);
  color: var(--ultra-white);
  border: 2px solid var(--ultra-white);
}
/*===================BANNER================*/
#banner {
  display: flex;
  margin-top: 36px;
  margin-bottom: 56px;
  padding-bottom: 56px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid var(--cor-primaria);
}
#bannerPrimary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}
#bannerPrimaryImages div {
  display: flex;
  flex-direction: row;
  justify-content: end;
  height: 100px;
}
#bannerImg2 {
  max-width: 200px;
}
.text-red {
  color: var(--cor-primaria);
}
#bannerList {
  list-style: none;
}
h1 {
  font-size: 3.5em;
  font-weight: bold;
}
#bannerImg {
  transform: scale(1); 
  transition: transform 0.3s; 
}
.bannerImgAnimation {
  animation: upperScale 2s ease 0s 1 normal forwards;
  pointer-events: none;
}
#bannerImg:hover {
  transform: scale(1.1);
  transition: 1s linear all;
}
#secundaryBanner {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 100%;
}

/* =========== SHOWROOM ========*/

#showroom {
  padding-top: 56px;
  background-color: #F5F7F8;
  width: 100%;
}
.minwidth {
  min-width: 200px;
}
#showroom h3 {
  font-size: 3em;
  text-align: center;
  font-family: 'Exo 2', sans-serif;
}
#showroom h3 span {
  border-bottom: 8px solid var(--cor-primaria);
}
#cards {
  margin-top: 48px;
}
.local {
  font-size: .8em;
  font-weight: bold;
}
.time{
  color:var(--cor-primaria);
  font-size: .8em;
  font-weight: bold;
}
.category {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 0;
}
.priceDiv {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.priceDiv p{
  margin-bottom: 0;
}
.price {
  font-size: 1.3em;
  font-weight: bold;
}
.price span {
  font-size: 1rem;
}
.cardSpace {
  margin-bottom: 1rem;
}
.seeMoreBtn {
  margin-bottom: 1rem;
  transition: .5s;
}
.seeMoreBtn a {
  font-size: 1em;
  text-decoration: none;
  color: var(--ultra-white);
}
.seeMoreBtn a:hover {
  color: var(--cor-primaria);
}

/*=================LOGIN POPUP ================*/

#loginBntContainer {
  padding-left: 0;
  padding-right: 0;
}
#loginPopup {
  width: 48rem;
  background-color: var(--cor--white);
  position: absolute;
  border-radius: 25px;
  left: 50%;
  top: 350px;
  transform: translate(-50%, -50%);
  z-index: 11;
  padding-right: 0;
  padding-left: 0;
}
.displayNone {
  display: none;
}
.blur {
  filter: blur(5px);
}
.transitios1s {
  transition: 1s;
}
.noPointerEvents {
  pointer-events: none;
}
#loginPopupContainer {
  width: 50%;
  padding-left: 0;
  padding-right: 0;
}
#formContainer {
  width: 50%;
}
#loginBntContainer {
  display: flex;
  justify-content: space-between;
}
#loginPopupImg {
  height: 100%;
  max-width: 100%;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}
#formContainer {
  padding-top: 5rem;
  position: relative;
}
#closeLogin {
  position: absolute;
  border: 0;
  background-color: transparent;
  top: .5rem;
  right: 1rem;
}
#closeLogin img {
  width: 28px;
}

/*========= MOBILE ============*/

@media screen and (max-width: 767px) {
  #banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 36px;
    padding-bottom: 0px;
    border-bottom: 5px solid transparent;
  }
  #bannerPrimary {
    width: 100%;
  }
  h1,h2 {
    text-align: center;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.2em;
  }
  #bannerList {
    font-size: 0.8em;
  }
  #loginBnt {
    text-decoration: none;
    border-radius: 10px;
    width: 100px;
    text-align: start;
    background-color: transparent;
    color: var(--ultra-white);
    font-weight: bold;
    margin-right: 20px;
    transition: background-color 0.3s, color 0.3s, border .5s;
    border: 2px solid transparent;
  }
  #loginBnt:hover {
    background-color: transparent;
    color: var(--ultra-white);
    border: 2px solid transparent;
  }
  #showroom h3 {
    font-size: 1.2em;
    text-align: center;
    padding: 0 24px 0 24px;
    font-family: 'Exo 2', sans-serif;
  }
  #showroom h3 span {
    border-bottom: 4px solid var(--cor-primaria);
  }
  #bannerPrimaryImages div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
  }
  #bannerImg2 {
    max-width: 200px;
  }
  .category {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0;
  }
  .seeMoreBtn a {
    font-size: .8em;
  }
  
#loginBntContainer {
  padding-left: 0;
  padding-right: 0;
  padding: 20px;
}
#loginPopup {
  width:  20rem;
  background-color: var(--cor--white);
  position: absolute;
  border-radius: 15px;
  left: 50%;
  top: 350px;
  transform: translate(-50%, -50%);
  z-index: 11;
  padding-right: 0;
  padding-left: 0;
}
.displayNone {
  display: none;
}
.blur {
  filter: blur(5px);
}
.transitios1s {
  transition: 1s;
}
.noPointerEvents {
  pointer-events: none;
}
#loginPopupContainer {
  width: 0%;
  padding-left: 0;
  padding-right: 0;
  display: none;
}
#formContainer {
  width: 100%;
}
#loginBntContainer {
  display: flex;
  justify-content: space-between;
}
#loginPopupImg {
  height: 100%;
  max-width: 100%;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  display: none;
}
#formContainer {
  padding-top: 0rem;
  position: relative;
}
#closeLogin {
  position: absolute;
  border: 0;
  background-color: transparent;
  top: 0;
  right: 0;
}
#closeLogin img {
  width: 28px;
}
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid var(--cor-primaria);
  }
  #bannerPrimary {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h1,h2 {
    text-align: center;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.2em;
  }
  #bannerList {
    font-size: 0.8em;
  }
  #loginBnt {
    text-decoration: none;
    border-radius: 10px;
    width: 100px;
    text-align: start;
    background-color: transparent;
    color: var(--ultra-white);
    font-weight: bold;
    margin-right: 20px;
    transition: background-color 0.3s, color 0.3s, border .5s;
    border: 2px solid transparent;
  }
  #loginBnt:hover {
    background-color: transparent;
    color: var(--ultra-white);
    border: 2px solid transparent;
  }
  #showroom h3 {
    font-size: 2em;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
  }
  #showroom h3 span {
    border-bottom: 4px solid var(--cor-primaria);
  }
  .category {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0;
  }
  .price {
    font-size: 1em;
    font-weight: bold;
  }
  .price span {
    font-size: .8rem;
  }
  .seeMoreBtn a {
    font-size: .8em;
  }
}

@media screen and (max-width: 990px) {
  #loginBnt {
    text-decoration: none;
    border-radius: 10px;
    width: 100px;
    text-align: start;
    background-color: transparent;
    color: var(--ultra-white);
    font-weight: bold;
    margin-right: 20px;
    transition: background-color 0.3s, color 0.3s, border .5s;
    border: 2px solid transparent;
  }
  #loginBnt:hover {
    background-color: transparent;
    color: var(--ultra-white);
    border: 2px solid transparent;
  }
}

